@import "tailwindcss";

:root {
  --color-primary: #4A294B;
  --color-primary-dark: #5F2147;
  --color-secondary: #C7A05A;
  --color-background: #F7F2EB;
  --color-grey: #9D9792;
  --color-text: #2A2A2A;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
  background: var(--color-background);
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cinzel", serif;
}

button {
  cursor: pointer;
}
.swiper-pagination {
  margin-top: 2rem;
  position: relative;
}

.swiper-pagination-bullet {
  background: rgba(255,255,255,0.4);
  width: 10px;
  height: 10px;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #C7A05A;
  width: 28px;
  border-radius: 999px;
}
@keyframes breathe {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.06);
  }
}

.breathe {
  animation: breathe 8s ease-in-out infinite alternate;
}
@layer components {
  .form-label {
    @apply mb-2 block text-sm font-medium text-[#341A36];
  }

  .form-input {
    @apply w-full rounded-xl border border-[#E7DED4] bg-[#FDFBF8] px-4 py-3 text-sm text-[#341A36] outline-none transition placeholder:text-[#9B8B98] focus:border-[#C7A05A] focus:ring-1 focus:ring-[#C7A05A];
  }
}